# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\svn\des2000\DES2000\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
